.c1{
  width: 900px;
  height: 900px;
  background-color: rgb(130,0,130);
}

.c2{
  width: 600px;
  height: 600x;
  background-color: rgb(0,10,0);
  border-style: dashed;
  border-color: rgb(255,255,255);
  border-width: 5px;
  position: relative;
  top: 45px;
  left: 45px;
}

ul{
	display: flex;
}

li{
	margin: 5px;
  width:150px;
  height: 150px;
  background-color: rgb(0,115,0);
   flex-direction: row;
  justify-content: space-between;

}

#topR{
  left: 350px;
}

#topM{
  left: 175px;
}

#midL{
  top: 175px;
}

#midMY{
  left: 175px;
  top: 175px;
  background-color: rgba(255,255,0,0.9);
  z-index: 1;
}

#midMB{
  left: 175px;
  top: 175px;
  background-color: rgba(0,0,255,0.3);
  z-index: 2;
}


#midR{
  left: 350px;
  top: 175px;
}

#botL{
  top: 350px;
}


#botM{
  left: 175px;
  top: 350px;
}

#botR{
  left: 350px;
  top: 350px;
}